/****************
    Mi pagina
****************/

header {text-align: center;
 background-image: url(images/2e74b9010b575dd59678c6ea7b33ab96.jpg); background-repeat: no-repeat;
    background-size: cover;
}


img{
    margin: 1px 0px 0px 1px;
    border: 7px solid gold;
    
    
}

h1{ font-size: 70px; color:gold;}

ul{padding: 10px;
background: black}

li{display: inline;
   padding: 0px 10px 0px 10px; }

a{text-decoration: none;
color: gold}



/****************
pagina principal articulos
****************/

article{
    max-width: 500px;
    margin: 0 auto;
    text-align: justify;
}



/**************
responsive desing
***************/

@media (max-width:500px){
    h1{font-size: 36px;}
    
    li{
        display:block;
        padding: 5px;
        
        
    }
}



html{
    background-color: black;
}